/* Custom styles for the Lung Cancer Prediction webpage */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.form-control {
    margin-bottom: 15px;
}

.btn-primary {
    display: block;
    width: 100%;
}

#result {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
}
